<div class="main">

    <div id="ontology_rules" class="main_ontology_rules">
        <div class="left">
            <div class="rule_ontology">
                <div>
                    <h2><b>Please Enter Trigger Action Programs:</b></h2>

                    <textarea class="textarea"
                        placeholder="Please enter 'IF...THEN...', such as 'IF temperature>30 THEN AirConditioner_0.turn_ac_cool '"
                        [(ngModel)]="ruleText">
                    </textarea>
                    <div class="button-group">
                        <!-- 上传环境本体 -->
                        <button class="upload button">Upload Ontology
                            <input class="change" type="file" ng2FileSelect [uploader]="modelUploader"
                                (change)="uploadModelFile($event)" />
                        </button>
                        <!-- 上传location和deviceInformation的property文件 -->
                        <button class="upload button">Upload Device Information
                            <input class="change" type="file" ng2FileSelect [uploader]="propertyUploader"
                                (change)="uploadPropertyFile($event)" />
                        </button>

                        <button class="analys_button" (click)="getBestScenarioAnalysis()">Simulation</button>
                        <!-- <button class="analys_button" (click)="getStaticAnalysisResult()">Static Analysis</button>
                        <button class="analys_button" (click)="generateAllSystemModels()">Generate Models</button>
                        <button class="analys_button" (click)="scenariosSimulation()">Simulate</button> -->
                    </div>




                </div>
            </div>
            <!-- <app-rules-ontology class="rule_ontology"></app-rules-ontology> -->
        </div>



        <div class="right">
            <div id="simulation">
                <h2><b>Simulation Visualization:</b></h2>
                <div class="random-range" >
                    
                    <vg-player id="visualizationResult" >
                        <vg-overlay-play></vg-overlay-play>
                        <vg-buffering></vg-buffering>
                    
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                        </vg-scrub-bar>
                    
                        <vg-controls>
                            <vg-play-pause></vg-play-pause>
                            <vg-playback-button></vg-playback-button>
                    
                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                    
                            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                    
                            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                    
                            <!-- <vg-track-selector></vg-track-selector> -->
                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>
                    
                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>
                    
                        <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin >
                            
                            <source src="{{videoURL}}" type="video/mp4" *ngIf="videoURL.length>0">
                            <!-- <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
                            <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm"> -->
                    
                            <!-- <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" srclang="en" default>
                            <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" srclang="es"> -->
                        </video>
                    </vg-player>


                </div>
                <div class="button-group">
                    <button class="button" (click)="visualize()">Visualization</button>
                    
                    
                    <div ng-view></div>
                </div>

            </div>

        </div>

    </div>
    





</div>